<style type="text/css" media="screen">
#map-container {
    width: 100%;
    height: 600px;
    border: 1px solid blue;
}
#map-controls, #map-canvas {
    height: 100%;
}
</style>
<div id="map_loader" class="btn btn-xs btn-primary">Load map</div>
<div id="map-container" class="row">
    <div id="map-controls" class="col-md-1">
        <ul>
            <li><h3>Renew</h3>
                <ul>
                    <h4>Status</h4>
                    <li>Pioneering</li>
                    <li>Established</li>
                    <li>Secured</li>
                </ul>
            
            </li>
            <li><h3>Affiliation</h3></li>
            <li><h3>Size</h3></li>
        </ul>
        
    </div>
    <div id="map-canvas" class="col-md-11" />
</div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?&callback=activateMapLoader&key=<%= ENV['GOOGLE_BROWSER_API_KEY'] %>"></script>
    <script>
      function initialize() {
         //reAlignStackedDivs();
        var mapCanvas = document.getElementById('map-canvas');
        $(mapCanvas).show();
        var mapOptions = {
          center: new google.maps.LatLng(51.424617,-0.225567),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var latlngbounds = new google.maps.LatLngBounds();
        
        <% for location in @churches %>
            <% if location.renew_region_id.present? %>
        var pinColor = "00FF80";
            <% else %>
                
                var pinColor = "FE7569";
                
            <% end %>
                var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
                    new google.maps.Size(21, 34),
                    new google.maps.Point(0,0),
                    new google.maps.Point(10, 34));
                var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
                    new google.maps.Size(40, 37),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(12, 35));
            var latlng = new google.maps.LatLng(<%= location.lat %>, <%= location.lng %>);
                <%= "marker_#{location.id}" %> = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    //label: '<%= location.name %>',
                    icon: pinImage,
                    shadow: pinShadow
                    }
                );
            latlngbounds.extend(latlng);
            var <%= "infowindow_#{location.id}" %> = new google.maps.InfoWindow({
                content: '<%= location.name %>, <%=location.locality %>, <%= location.postcode %>'
            });
            google.maps.event.addListener(<%= "marker_#{location.id}" %>, 'click', function() {
              <%= "infowindow_#{location.id}" %>.open(map,<%= "marker_#{location.id}" %>);
            });
        
        <% end %>
        map.fitBounds(latlngbounds);    
        
      }
      // google.maps.event.addDomListener(document.getElementById('map_loader'), 'click', initialize);
      function activateMapLoader(){
          $("#map_loader").click(function(){
              initialize();
              return false;
          })
          
      }
</script>