
<p>
  <strong>Encrypted address:</strong>
  <%= @address.encrypted_address %>
</p>

<p>
  <strong>Encrypted postcode:</strong>
  <%= @address.encrypted_postcode %>
</p>

<p>
  <strong>Encrypted landline:</strong>
  <%= @address.encrypted_landline %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
