
<h1>Listing Dioceses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Province</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @dioceses.each do |diocese| %>
      <tr>
        <td><%= diocese.name %></td>
        <td><%= diocese.province %></td>
        <td><%= link_to "Import", import_diocese_churches_path(diocese,spreadsheet_id: "1U97HAWrqgcVSavDnM2ylbHxsmjmLjUVI8NGFk1vDmf4", sheet_name: "Data collected 2016"), method: :post, data: {confirm: "Are you sure?"} %></td>
        <td><%= link_to 'Map', map_diocese_churches_path(diocese) %></td>
        <td><%= link_to 'Churches', diocese_churches_path(diocese) %></td>
        <td><%= link_to 'Show', diocese %></td>
        <td><%= link_to 'Edit', edit_diocese_path(diocese) %></td>
        <td><%= link_to 'Destroy', diocese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diocese', new_diocese_path %>
